﻿@model mc.azure.controlpanel.Models.DbMigrationModel

@{
    ViewBag.Title = "Index";
}

<h2>Database Migrations</h2>


@Html.HiddenFor(m => m.Databases, new {Name = "Databases"})


@using (Html.BeginForm()) {
    // todo - look into antiforgery...
    @*@Html.AntiForgeryToken()*@

    if (Model.Databases == null || Model.Databases.Count == 0) {
        <p>No databases to migrate!</p>
        return;
    }


    @Html.ValidationSummary(false, "Please provide the required information before submitting!", new {@class = "text-danger"})


    <fieldset>
        <legend>Select Databases to Migrate:</legend>

        <div>
            <input type="checkbox" name="setAllCheckboxes" onclick="SetAllCheckBoxes(this)"/>
            Select / Unselect All
        </div>

        <br/>

        <div class="editor-field">
            @Html.CheckBoxListFor(model => model.SelectedDatabases,
                                  model => model.Databases,
                                  x => x.Id,
                                  x => x.Name,
                                  model => null,
                                  MvcCheckBoxList.Model.Position.Vertical)
        </div>

        <br/>
        <br/>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.SupportEmailRecipients)
                </div>
            </div><!-- /.col -->

            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.SupportEmailRecipients, new {required = "required"})
                    <br/>
                    @Html.ValidationMessageFor(m => m.SupportEmailRecipients, "", new {@class = "text-danger"})
                </div>
            </div><!-- /.col -->
        </div>
        <p>
            @Html.CheckBox("chbConfirm", Model.ConfirmSelection, new {required = "required"})
            @Html.LabelFor(m => m.ConfirmSelection)
            <br/>
            @Html.ValidationMessageFor(m => m.ConfirmSelection, "", new {@class = "text-danger"})
        </p>
        <p>

            <button name="sendNewSms" id="sendNewSms" type="submit" class="btn btn-primary" disabled="disabled">Migrate</button>
        </p>
    </fieldset>
}


<script>
    // functionality to select/deselect all databases
    function SetAllCheckBoxes(obj) {
        var c = document.getElementsByTagName('input');
        for (var i = 0; i < c.length; i++) {
            if (c[i].type === 'checkbox' && c[i].name !== 'chbConfirm') {
                c[i].checked = obj.checked;
            }
        }
    }


    // functionality to enable/disable the 'submit' button based on checkbox selection
    var sendbtn = document.getElementById('sendNewSms');
    var chbconfirm = document.getElementById('chbConfirm');
    var elements = document.getElementsByTagName('input');
    for (var i = 0, len = elements.length; i < len; i++) {
        if (elements[i].type !== 'checkbox') continue;

        elements[i].addEventListener('change',
            function() {
                var c = document.getElementsByTagName('input');
                var someDbIsSelected = false;
                for (var i = 0; i < c.length; i++) {
                    if (c[i].type === 'checkbox' &&
                        c[i].name !== 'chbConfirm' &&
                        c[i].name !== 'setAllCheckboxes' &&
                        c[i].checked) {
                        someDbIsSelected = true;
                    }
                }

                sendbtn.disabled = !chbconfirm.checked || !someDbIsSelected;
            });
    }

</script>