﻿@using Castle.Core.Internal
@using Colorware.Core.Azure.Enums
@model mc.azure.sdk.wrappers.Models.CustomerViewModel

@{
    ViewBag.Title = "Index";
}

<h1>Customer Info</h1>
<br/>


@PrintCustomerInfoForState("Active Customers", new List<CustomerInfoState> {CustomerInfoState.Active})
<br/>

@PrintCustomerInfoForState("Currently Creating", new List<CustomerInfoState> {CustomerInfoState.Creating})
<br/>

@PrintCustomerInfoForState("Currently Deactivating", new List<CustomerInfoState> {CustomerInfoState.Deactivating})
<br/>

@PrintCustomerInfoForState("Deactivated Customers", new List<CustomerInfoState> {CustomerInfoState.Deactivated})
<br/>

@PrintCustomerInfoForState("Other Customers", new List<CustomerInfoState> {CustomerInfoState.CreateFailed, CustomerInfoState.None})


<br/>
<br/>
<br/>
<br/>
<br/>

<h1>Connection Strings</h1>

<table class="table">
    <thead>
    <tr>
        <th>Customer Name</th>
        <th>Location</th>
        <th>Connection String</th>
    </tr>
    </thead>
    @foreach (var customerInfo in Model.CustomerInfos) {
        <tr>
            <td>
                @customerInfo.CustomerName
            </td>
            <td>
                @customerInfo.CustomerLocation
            </td>
            <td>
                @customerInfo.ConnectionString
            </td>

        </tr>
    }


</table>


@helper PrintCustomerInfoForState(string heading, List<CustomerInfoState> states) {
    <div class="well">
        <h3>@heading</h3>
    </div>

    var currentStates = Model.CustomerInfos.Select(x => x.ActiveState).ToList();
    var intersection = currentStates.Intersect(states).ToList();
    if (intersection.IsNullOrEmpty()) {
        <p>No data!</p>
        return;
    }

    <table class="table">
        <thead>
        <tr>
            <th>Customer Name</th>
            <th>Location</th>
            <th>Active State</th>
            <th>MS SSMS Server Name</th>
            <th>Database Name</th>
            <th>User Name (Reader)</th>
            <th>User Password</th>
        </tr>
        </thead>
        @foreach (var customerInfo in Model.CustomerInfos) {
            if (states.Contains(customerInfo.ActiveState)) {
                <tr>
                    <td>
                        @customerInfo.CustomerName
                    </td>
                    <td>
                        @customerInfo.CustomerLocation
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customerInfo.ActiveState)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customerInfo.SqlServerManagementStudioServerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customerInfo.DatabaseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customerInfo.ContainedUserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customerInfo.ContainedUserPassword)
                    </td>

                </tr>
            }
        }


    </table>
}
