<?xml version="1.0"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>MeasureColor</ShortName>
  <Image width="16" height="16" type="image/x-icon">http://192.168.2.20/dokuwiki/lib/tpl/codowik/images/favicon.ico</Image>
  <Url type="text/html" template="http://192.168.2.20/dokuwiki/doku.php?do=search&amp;id={searchTerms}" />
  <Url type="application/x-suggestions+json" template="http://192.168.2.20/dokuwiki/lib/exe/ajax.php?call=suggestions&amp;q={searchTerms}" />
</OpenSearchDescription>
