﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/* styles for validation helpers */
.field-validation-error {
    color: #b94a48 !important;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 2px ridge #b94a48 !important;
    color: #b94a48 !important;
}

select.input-validation-error {
    border: 1px solid #b94a48 !important;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    font-weight: bold !important;
    color: #b94a48 !important;
}

.validation-summary-valid {
    display: none;
}

input:-moz-read-only { /* For Firefox */
    background-color: lightgray;
}

input:read-only {
    background-color: lightgray;
}