﻿@if (Request.IsAuthenticated) {
    <ul class="nav navbar-nav navbar-right">
        <li class="colouredLi">
            Hello, @User.Identity.Name!
        </li>
        <li>
            @Html.ActionLink("Sign out", "SignOut", "Account")
        </li>
    </ul>

    <!-- should be done in css!! -->
    <style>
        li.colouredLi { color: gainsboro; }
    </style>
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}
