﻿@model mc.azure.sdk.wrappers.Models.CustomerInfoModel

@{
    ViewBag.Title = "DeactivateCustomer";
}

<h2>Deactivate Customer</h2>

@if (!string.IsNullOrWhiteSpace(Model.CustomerLocation)) {
    <p>Deactivated @Model.CustomerName (@Model.CustomerLocation)</p>
}
else {
    <p>Deactivated @Model.CustomerName</p>
}
