﻿@model mc.azure.sdk.wrappers.Models.CustomerDeactivateModel

@{
    ViewBag.Title = "Deactivate Customer";
}

<h2>Deactivate Customer</h2>


@using (Html.BeginForm("DeactivateCustomer", "DeactivateCustomer")) {
    if (Model.CustomerInfos == null || Model.CustomerInfos.Count == 0) {
        <div class="row">
            <div class="col-md-10">
                No Customers to Deactivate!
            </div>
        </div>
    }
    else {
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <b>Customer to deactivate:</b>
                </div>
            </div><!-- /.col -->

            <div class="col-md-8">
                <div class="form-group">
                    @Html.DropDownList("CustomerInfo")
                </div>
            </div><!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <b>Support Email:</b>
                </div>
            </div><!-- /.col -->

            <div class="col-md-8">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.SupportEmail, new {required = "required"})
                </div>
            </div><!-- /.col -->
        </div>
        <!-- /.row -->

        <div>
            <button type="submit" class="btn btn-primary">Deactivate Customer</button>
        </div>
    }
}
