﻿@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Welcome to the Maintenance Page!</h2>


@using (Html.BeginForm("ActivateMaintenanceMode", "Maintenance"))
{
    <h3>Activate Maintenance Mode</h3>
    <div>
        <button type="submit" class="btn btn-primary">Activate</button>
    </div>
}




@using (Html.BeginForm("DeactivateMaintenanceMode", "Maintenance"))
{
    <h3>Deactivate Maintenance Mode</h3>
    <div>
        <button type="submit" class="btn btn-primary">Deactivate</button>
    </div>
}