﻿@model mc.azure.sdk.wrappers.Models.CustomerCreateModel

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm</h2>


@Html.HiddenFor(m => m.CustomerNameLocation.Name)
@Html.HiddenFor(m => m.CustomerNameLocation.Location)
@Html.HiddenFor(m => m.DbBackupAvailable)
@Html.HiddenFor(m => m.IsNewCustomer)



@using (Html.BeginForm("Confirm", "CreateCustomer")) {
    @Html.ValidationSummary(false, "Please provide the required information before submitting!", new {@class = "text-danger"})

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.IsNewCustomer)
            </div>
        </div><!-- /.col -->

        <div class="col-md-8">
            <div class="form-group">
                @if (Model.IsNewCustomer) {
                    <b>Yes</b>
                }
                else {
                    <b>No</b>
                }
            </div>
        </div><!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.CustomerNameLocation.Name)
            </div>
        </div><!-- /.col -->

        <div class="col-md-8">
            <div class="form-group">
                @Html.TextBoxFor(m => m.CustomerNameLocation.Name, new {@readonly = "readonly"})
                <br/>
                @Html.ValidationMessageFor(m => m.CustomerNameLocation.Name, "", new {@class = "text-danger"})
            </div>
        </div><!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.CustomerNameLocation.Location)
            </div>
        </div><!-- /.col -->

        <div class="col-md-8">
            <div class="form-group">
                @Html.TextBoxFor(m => m.CustomerNameLocation.Location, new {@readonly = "readonly"})
            </div>
        </div><!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.EmailRecipients)
            </div>
        </div><!-- /.col -->

        <div class="col-md-8">
            <div class="form-group">
                @Html.TextBoxFor(m => m.EmailRecipients)
            </div>
        </div><!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.SupportEmailRecipients)
            </div>
        </div><!-- /.col -->

        <div class="col-md-8">
            <div class="form-group">
                @Html.TextBoxFor(m => m.SupportEmailRecipients, new {required = "required"})
                <br/>
                @Html.ValidationMessageFor(m => m.SupportEmailRecipients, "", new {@class = "text-danger"})
            </div>
        </div><!-- /.col -->
    </div>
    <!-- /.row -->

    if (Model.DbBackupAvailable) {
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.ShouldRecoverDbFromBackup)
                </div>
            </div><!-- /.col -->

            <div class="col-md-6">
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.ShouldRecoverDbFromBackup)
                </div>
            </div><!-- /.col -->
        </div>
        <!-- /.row -->
    }

    <div>
        <button type="submit" class="btn btn-primary">Ok</button>
    </div>
} 