﻿@model mc.azure.sdk.wrappers.Models.BasicCustomerModel

@{
    ViewBag.Title = "Create Customer";
}

<h2>Create Customer</h2>


@using (Html.BeginForm("Index", "CreateCustomer")) {
    @Html.ValidationSummary(false, "Please provide the required information before submitting!", new {@class = "text-danger"})

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
            </div>
        </div><!-- /.col -->

        <div class="col-md-8">
            <div class="form-group">
                @Html.TextBoxFor(m => m.Name, new {required = "required", pattern = @"^([a-zA-Z0-9 ]+)$", title = "Only use alphanumeric characters."})
                <br/>
                @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
            </div>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div><!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(m => m.Location)
            </div>
        </div><!-- /.col -->

        <div class="col-md-8">
            <div class="form-group">
                @Html.TextBoxFor(m => m.Location, new {
                    pattern = @"^([a-zA-Z0-9 ]+)$",
                    title = "Only use alphanumeric characters."
                })
            </div>
        </div><!-- /.col -->
    </div>
    <!-- /.row -->

    <div>
        <button type="submit" class="btn btn-primary">Ok</button>
    </div>
} 