﻿@using mc.azure.utilities.Server

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MEASURE COLOR Control Panel</h1>
    <p class="lead" align="center">Control panel for creating and deactivating customers, or view customer info.</p>
    <p align="center">Server Version:  @Html.ServerVersion()</p>
</div>

<div class="row">
    <div class="col-sm-4">
        <h2>Create a new client</h2>
        <p>
            Create infrastructure for a new customer.
        </p>
        <p>
            <input type="button" class="btn btn-primary btn-block" value="Create" onclick="@("window.location.href='" + @Url.Action("Index", "CreateCustomer") + "'");" />
        </p>
    </div>

    <div class="col-sm-4">
        <h2>Deactivate a client</h2>
        <p>Disable a customer's Azure account.</p>
        <p>
            <input type="button" class="btn btn-primary btn-block" value="Deactivate" onclick="@("window.location.href='" + @Url.Action("Index", "DeactivateCustomer") + "'");" />
        </p>
    </div>

    <div class="col-sm-4">
        <h2>View client info</h2>
        <p>View existing customers.</p>
        <p>
            <input type="button" class="btn btn-primary btn-block" value="View" onclick="@("window.location.href='" + @Url.Action("Index", "ViewCustomer") + "'");" />
        </p>
    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <h2>Database Migrations</h2>
        <p>
            Run Migrations on DBs
        </p>
        <p>
            <input type="button" class="btn btn-primary btn-block" value="Run Migrations" onclick="@("window.location.href='" + @Url.Action("Index", "Migrations") + "'");" />
        </p>
    </div>

    <div class="col-sm-4">
        <h2>SQL Server Firewall</h2>
        <p>
            View or add Firewall Rules
        </p>
        <p>
            <input type="button" class="btn btn-primary btn-block" value="Create Firewall Rule" onclick="@("window.location.href='" + @Url.Action("Index", "SqlServerFirewallRules") + "'");" />
        </p>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-sm-4">
        <h2>Maintenance</h2>
        <p>
            <input type="button" class="btn btn-warning btn-block" value="Advanced Maintenance" onclick="@("window.location.href='" + @Url.Action("Index", "Maintenance") + "'");" />
        </p>
    </div>
</div>